
<mat-list>
    <div mat-subheader>This page was made as a practice with <a href="https://jsonplaceholder.typicode.com">jsonplaceholder</a></div>
    <div mat-subheader>Contact me:</div>

      <mat-list-item>
        <mat-icon matListItemIcon>mail</mat-icon>
        <div matListItemTitle><a href="mailto:mtp.andres@gmail.com">Email</a></div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>send</mat-icon>
        <div matListItemTitle><a href="https://t.me/Grocia">Telegram</a></div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>language</mat-icon>
        <div matListItemTitle><a href="https://github.com/Grocia">Github</a></div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>description</mat-icon>
        <div matListItemTitle><a href="https://www.linkedin.com/in/mtp-andres/">Linkedin</a></div>
      </mat-list-item>
    
    <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListItemIcon>work</mat-icon>
        <div matListItemTitle>Please hire me.</div>
      </mat-list-item>
    
  </mat-list>